<!--<div class="sec-tle">
  <span class="glyphicon glyphicon-envelope">
    <br/>
    <span class="title">Contacts</span>
  </span>
</div>
<div class="contact-thumb" *ngFor="let key of objectKeys(items)">
  <div class="contact-image" id="{{key}}" #elem onmouseover="bkg(this.id)" onmouseout="bkg(this.id)">
    <img src="./app/images/contact/{{key}}.png" alt="{{key}}-pic" class="col-md-12" />
    <div class="contact-cap" id="{{key}}-caption">
      <h1>{{key}}</h1>
      <p>This is how to contact me</p>
      <input type="button" value="Contact" id="{{key}}-button" class="btn btn-more">
    </div>
  </div>
</div>
-->
