<div class="col-md-12">
<div class="row no-gutter">
<div class="container-fluid">
  <div class="col-md-12">
      <div class="wel-gre">
        <div class="hello">
          <b>H</b>ello, My name is Paul.
          <p>I create, build &amp; manage - <i id="miss">{{skilling}}</i>.</p>
          <p>Below are a few of the services I provide. </p>
        </div>
        <input type="button" class="btn btn-hire btn-primary" value="Hire Me!"/>
      </div>
    </div>
  </div>
</div>
</div>
